<form action="" id="form1" #form="ngForm" (ngSubmit)="insertData()">
  <mat-card class="example-card">
      <mat-card-title>USER REGISTRATION</mat-card-title>
      <hr>
      <br>
      <mat-card-content>
          <form class="example-form">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First Name </mat-label>
                <input matInput  value="" name="firstname" #firstname="ngModel" ngModel required [(ngModel)]="user.f_name">
                <div style="color: red;" *ngIf="!firstname.valid && firstname.touched">first name required</div>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Last Name </mat-label>
                  <input matInput  value=""  name="lastname" #lastname="ngModel" ngModel required [(ngModel)]="user.l_name">
                  <div style="color: red;" *ngIf="!lastname.valid && lastname.touched">last name required</div>
  
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Date of birth </mat-label>
                  <input type="date" matInput   value="" name="date" #date="ngModel" ngModel required [(ngModel)]="user.dob">
                  <div style="color: red;" *ngIf="!date.valid && date.touched">please enter dob</div>
  
                </mat-form-field>
                <ng-container *ngFor="let gender of genders; let isLast = last">
                  <label for="">
                    {{gender}} :
                    <input type="radio" name="gender" [value]="gender" ngModel required #myGender="ngModel" [(ngModel)]="user.gender">
                  </label>
                  <div *ngIf="isLast" [hidden]="!myGender.hasError('required')">select your gender</div>
  
                </ng-container>
  
  
  
  
                <br><br>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email </mat-label>
                  <input type="email" matInput   value="" name="mail" #mail="ngModel" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="5" [(ngModel)]="user.email">
                  <div style="color: red;" *ngIf="!mail.valid && mail.touched">
                      <div *ngIf="mail.errors?.['required']">email is required</div>
                      <div *ngIf="mail.errors?.['pattern']">enter proper format</div>
                  </div>
              </mat-form-field>
  
              
              {{result}}
              
            </form>
            
        
      </mat-card-content>
      <mat-card-actions>
          <button type="reset" mat-raised-button color="warn" value="reset">Cancel</button>
      <button type="submit" mat-raised-button color="accent" >Register</button>
      </mat-card-actions>
    </mat-card>
<!-- modal -->
   <!-- <div class="modal fade" id="exampleModal" tabindex="-1" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{updatestatus}}
          <form action="" id="form1" >
            <mat-card class="example-card">
                <mat-card-title>UPDATE USER</mat-card-title>
                <hr>
                <br>
                <mat-card-content>
                    <form class="example-form">
  
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>First Name </mat-label>
                          <input matInput  value="" name="firstname" #firstname="ngModel" id="f_name" ngModel required [(ngModel)]="updtInp.f_name">
                          <div style="color: red;" *ngIf="!firstname.valid && firstname.touched">first name required</div>
                        </mat-form-field>
  
  
  
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Last Name </mat-label>
                            <input matInput  value=""  name="lastname" #lastname="ngModel" id="l_name" ngModel required [(ngModel)]="updtInp.l_name">
                            <div style="color: red;" *ngIf="!lastname.valid && lastname.touched">last name required</div>
            
                          </mat-form-field>
  
  
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Date of birth </mat-label>
                            <input type="date" matInput   value="" name="date" #date="ngModel" id="date" ngModel required [(ngModel)]="updtInp.dob">
                            <div style="color: red;" *ngIf="!date.valid && date.touched">please enter dob</div>
            
                          </mat-form-field> -->
            
                          <!-- <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Male</mat-radio-button>
                            <mat-radio-button value="2">Female</mat-radio-button>
                          </mat-radio-group> -->
        
        
                           <!-- <ng-container *ngFor="let gender of genders; let isLast = last">
                            <label for="">
                              {{gender}} :
                              <input type="radio" name="gender" [value]="gender" ngModel required #myGender="ngModel" [(ngModel)]="updtInp.gender">
                            </label>
                            <div *ngIf="isLast" [hidden]="!myGender.hasError('required')">select your gender</div> -->
            
                            <!-- <mat-radio-group aria-label="select your option" name="gender" id="gender" (change)="changegender($event)">
                              <div *ngIf="female">
                                <mat-radio-button value="male">male</mat-radio-button>
                                <mat-radio-button value="female" checked>female</mat-radio-button></div>
                                <div *ngIf="male">
                                  <mat-radio-button value="male" checked>male</mat-radio-button>
                                  <mat-radio-button value="female" >female</mat-radio-button></div>
                                  
    
  
  
                            </mat-radio-group>

                            <div class="modal-footer">
        <mat-card-actions>
          <button mat-raised-button color="warn" type="reset" data-bs-dismiss="modal">Reset</button>
      <button mat-raised-button color="accent" type="submit" (click)="updatedata()">Save changes</button>
      </mat-card-actions>   -->
      



  
  <app-tableuser></app-tableuser>
   <router-outlet></router-outlet>  